<!-- views/shared/head.ejs -->

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><%= title %></title>
<meta name="description" content="ROBOTACH – Embedded Systems, IoT and Robotics.">
<meta name="Author" content="robotach.io">

<!-- Mobile Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Put favicon.ico and apple-touch-icon(s).png in the images folder -->
<link rel="shortcut icon" href="images/favicon.ico">
        
<!-- CSS StyleSheets -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&amp;amp;subset=latin,latin-ext">
<link rel="stylesheet" href="stylesheets/fontawesome_css/css/all.min.css">
<link rel="stylesheet" href="stylesheets/fontawesome_css/css/v4-shims.min.css">
<link rel="stylesheet" href="stylesheets/animate.css">
<link rel="stylesheet" href="stylesheets/prettyPhoto.css">
<link rel="stylesheet" href="stylesheets/slick.css">
<link rel="stylesheet" href="rs-plugin/css/settings.css">
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="stylesheets/responsive.css">
<!--[if lt IE 9]>
    <link rel="stylesheet" href="css/ie.css">
    <script type="text/javascript" src="js/html5.js"></script>
<![endif]-->


<!-- Skin style (** you can change the link below with the one you need from skins folder in the css folder **) -->
<link rel="stylesheet" id="skinCSS" href="stylesheets/skins/default.css">

<!-- end views/shared/head.ejs -->