<!-- views/shared/welcomebox.ejs -->
<div class="welcome">
    <div class="container">
        <h3 class="center block-head"><span class="main-color"><%= home_welcome_title %></span></h3>
        <p class="margin-bottom-0"><%= home_welcome_message %></p>
    </div>
</div>
<!-- end views/shared/welcomebox.ejs -->